.color-pickers {
  display: flex;
  flex-direction: row;
}

.color-pickers > * {
  flex: 1;
}

.color-selector-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.color-selector-container > * {
  flex: 1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
}
