.color-selector-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 60px;
}

.color-selector-container > * {
  flex: 1;
  text-align: center;
}

.large-text {
  font-size: 2em;
  text-align: center;
}
.small-text {
  font-size: 14px;
}

.bg-preview {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.bg-preview > * {
  flex: 1;
}

.pairing-preview {
  padding: 1em;
}

.pairing-info {
  text-align: center;
  padding: 8px 6px;
  font-size: 12px;
}

.button-container {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.button-container button {
  margin: 4px;
  display: inline-block;
}

.button-container:empty {
  display: none;
}
